@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #16151A;
    --ac-bg-color: #48427E;
    --operator-bg-color: #403F56;
    --numbers-bg-color: #2E2D35;
    --numbers-txt-color: #E4E1E8;
    --equal-bg-color: #F5B5C8;
    --equal-txt-color: #381E28;
}

body {
    display: flex;
    justify-content: center;
    background: var(--background);
    min-height: 100vh;
}

main {
    padding: 1.15rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 660px;
}

.display {
    width: 100%;
    height: 25vh;
    background: var(--background);
}

.buttons-grid {
    margin-top: .55rem;
    padding: .5rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px 4px;
}

.buttons-grid button {
    cursor: pointer;
    border: none;
    border-radius: 999px;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    background: var(--numbers-bg-color);
    color: var(--numbers-txt-color);
}

.ac {
    background: var(--ac-bg-color) !important;
}

.operator {
    background: var(--operator-bg-color) !important;
}

.equal {
    background: var(--equal-bg-color) !important;
    color: var(--equal-txt-color) !important;
}